[core]
	editor = vim
[user]
	email = ryan.springer@datastax.com
	name = Ryan Springer
[push]
    #default = current
    default = simple
[fetch]
    prune = true
[color]
    ui = auto
[credential]
	helper = store
